<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="NopConfig" type="Core.Configuration.NopConfig,Core" requirePermission="false"/>
  </configSections>
  <NopConfig>
    <Startup IgnoreStartupTasks="true"></Startup>
  </NopConfig>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
  </startup>
</configuration>